nav(role="navigation").navbar.navbar-inverse
	.navbar-header
		button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a(href="#" ).navbar-brand Zead
	.collapse.navbar-collapse.navbar-ex1-collapse
		ul.nav.navbar-nav 
			li.active: a(href="#") About
			li: a(href="#") Help
		ul.nav.navbar-nav.navbar-right
			if !user
				li: a(href="#") Login
			else
				li: a(href="/auth/logout") Log Out 
			